<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout-admin}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>顧客削除確認</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="border-bottom">
      <h1 class="h2">商品削除確認</h1>
    </div>

    <div class="container">
      <div class="row mt-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 alert alert-danger text-center mb-0">
          下記顧客を削除します。
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>

    <div class="mt-3">
      <form method="post" th:action="@{/admin/customer-delete}" th:object="${customerEditForm}">
        <input type="hidden" th:field="*{id}" />
        <!--顧客詳細情報-->
        <table class="table table-striped table-bordered table-hover">
          <tbody>
            <tr>
              <th style="width: 42%;">メールアドレス（ID）</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{eMail}" />
                <p th:text="*{eMail}"></p>
              </td>
            </tr>
            <tr>
              <th>ユーザー名</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{userName}" />
                <p th:text="*{userName}"></p>
              </td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{furigana}" />
                <p th:text="*{furigana}"></p>
              </td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{phoneNumber}" />
                <p th:text="*{phoneNumber}"></p>
              </td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{postalCode}" />
                <p th:text="*{postalCode}"></p>
              </td>
            </tr>
            <tr>
              <th>都道府県</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{prefectures}" />
                <p th:text="*{prefectures}"></p>
              </td>
            </tr>
            <tr>
              <th>市町村</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{city}" />
                <p th:text="*{city}"></p>
              </td>
            </tr>
            <tr>
              <th>町名・番地</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{townName}" />
                <p th:text="*{townName}"></p>
              </td>
            </tr>
            <tr>
              <th>建物名・部屋番号</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{others}" />
                <p th:text="*{#strings.isEmpty(others) ? '未入力' : others}"></p>
              </td>
            </tr>
            <tr>
              <th>性別</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{gender}" />
                <p th:text="*{gender == 1 ? '男性' : (gender == 2 ? '女性' : (gender == 3 ? 'その他' : ''))}">
                </p>
              </td>
            </tr>
            <tr>
              <th>生年月日</th>
              <td>
                <input type="hidden" class="form-control" th:field="*{birthday}" />
                <p th:text="*{#dates.format(birthday,'YYYY/MM/dd')}"></p>
              </td>
            </tr>
          </tbody>
        </table>
        <!--登録ボタン-->
        <div class="d-flex justify-content-center">
          <a th:href="@{/admin/customer-edit/{id}(id = *{id})}" class="btn btn-outline-primary mx-2">戻る</a>
          <button class="btn btn-danger mx-2" type="submit">
            削除
          </button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>