<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout-admin}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>顧客リスト</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="border-bottom d-flex align-items-center">
      <h1 class="h2">顧客管理</h1>

      <!-- メッセージが存在する場合にアラートを表示 -->
      <th:block th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center w-50"
          role="alert" style="margin-left: 120px;">
          <!-- アラートアイコン -->
          <svg xmlns="http://www.w3.org/2000/svg"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 alert-icon" viewBox="0 0 16 16"
            role="img" aria-label="Warning:" style="width: 24px; height: 24px;">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
          </svg>
          <!-- メッセージ内容を表示 -->
          <div th:text="${message}"></div>
          <!-- アラートを閉じるボタン -->
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </th:block>

    </div>

    <div class="container mt-3">
      <form class="d-flex pe-3" role="search" th:action="@{/admin/customer-list}" method="get">
        <input class="form-control me-2 w-auto" type="search" placeholder="検索" aria-label="Search" name="query">
        <button class="btn btn-primary text-white" type="submit">検索</button>
      </form>
      <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="thead-light">
          <tr>
            <th>メールアドレス（ID）</th>
            <th>顧客名</th>
            <th>フリガナ</th>
            <th>電話番号</th>
            <th>郵便番号</th>
            <th>住所</th>
            <th>性別</th>
            <th>誕生日</th>
            <th>登録日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <div th:each="item: ${customerList}">
            <tr>
              <td class="align-middle" th:text="${item.eMail}"></td>
              <td class="align-middle" th:text="${item.userName}"></td>
              <td class="align-middle" th:text="${item.furigana}"></td>
              <td class="align-middle" th:text="${item.phoneNumber}"></td>
              <td class="align-middle" th:text="${item.postalCode}"></td>
              <td class="align-middle" th:text="${item.shippingAddress}"></td>
              <td class="align-middle"
                th:text="${item.gender == 1 ? '男性' : (item.gender == 2 ? '女性' : 'その他')}"></td>
              <td class="align-middle" th:text="${#dates.format(item.birthday, 'yyyy/MM/dd')}">
              </td>
              <td class="align-middle" th:text="${#dates.format(item.createdAt, 'yyyy/MM/dd')}">
              </td>
              <td class="align-middle button text-center">
                <a class="btn btn-primary" th:href="@{'/admin/customer-edit/' + ${item.id}}">編集</a>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>