<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
</head>

<body>
  <div class="mt-40" layout:fragment="footer">
    <footer class="text-white py-4" style="background-color: #d4a373;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>私たちについて</h5>
            <p>We are a leading company in our industry, committed to providing high-quality services to our
              clients.</p>
          </div>
          <div class="col-md-4">
            <h5>お問い合わせ</h5>
            <ul class="list-unstyled">
              <li>メールアドレス: info@example.com</li>
              <li>電話番号: 06-1234-5678</li>
              <li>住所: 大阪府大阪市西区西本町1-7-7 CE西本町ビル901</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>SNS</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Facebook</a></li>
              <li><a href="#" class="text-white">Twitter</a></li>
              <li><a href="#" class="text-white">Instagram</a></li>
            </ul>
          </div>
        </div>
        <div class="text-center mt-3">
          <p>&copy; 2024 Your Company. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>