<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--CSS読み込み-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/user/style.css}">
  <link href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" rel="stylesheet">
  <!--JS読み込み-->
  <script th:src="@{/js/popper.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <script th:src="@{/js/form-handlers.js}" defer></script>
  <title></title>
</head>

<body>
  <!--ヘッダー-->
  <!-- ゲストデータが存在する場合 -->
  <th:block th:if="${session.guestData}">
    <nav layout:replace="~{layout/header-guest::guestHeader}"></nav>
  </th:block>

  <!-- ゲストデータが存在せず、認証されている場合 -->
  <th:block th:if="${session.guestData == null and #authorization.expression('isAuthenticated()')}">
    <nav layout:replace="~{layout/header-afterlogin::afterLoginHeader}"></nav>
  </th:block>

  <!-- ゲストデータが存在せず、認証されていない場合 -->
  <th:block th:if="${session.guestData == null and !#authorization.expression('isAuthenticated()')}">
    <nav layout:replace="~{layout/header-beforelogin::beforeLoginHeader}"></nav>
  </th:block>

  <!--コンテンツ-->
  <div style="min-height: 550px;" layout:fragment="content">
  </div>
  <!--フッター-->
  <div layout:replace="~{layout/footer::footer}"></div>
</body>

</html>