<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--CSS読み込み-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <!--JS読み込み-->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <script th:src="@{/js/popper.min.js}" defer></script>
  <title></title>
</head>

<body>
  <!--ヘッダー-->
  <th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <nav layout:replace="~{layout/header-afterlogin::afterLoginHeader}"></nav>
  </th:block>
  <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
    <nav layout:replace="~{layout/header-beforelogin::beforeLoginHeader}"></nav>
  </th:block>
  <!--コンテンツ-->
  <div style="min-height: 550px;" layout:fragment="content">
  </div>
  <!--フッター-->
  <div layout:replace="~{layout/footer::footer}"></div>
</body>

</html>