@charset "UTF-8";

/*トップページここから*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  font-family: "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Arial,
    Meiryo,
    sans-serif;
}

p,
footer li {
  line-height: 1.9;
}

.mt-40 {
  margin-top: 40px;
}

.box {
  width: 90%;
  height: auto;
  margin: 10px;
  margin-bottom: 15px;
  background: #fff;
  overflow: hidden;
}

.box img {
  width: 70%;
  height: auto;
  vertical-align: bottom;
}

.box a {
  display: block;
  width: 100%;
  height: 100%;
}

figcaption {
  display: block;
  text-align: center;
  font-size: 16px;
}

.list {
  display: inline-block;
  width: 150px;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  width: 22px;
  height: 22px;
  padding: 0 5px;
  top: -7px;
  right: -7px;
  background-color: #000;
  border-radius: 50%;
}

.absolute p {
  font-size: 12px;
}

/*トップページここまで*/

/*詳細ページここから*/

.item_img {
  width: 50%;
  height: 90%;
  background-color: #fff;
}

.item_detail {
  width: 50%;
  height: 50%;
}

.btn_detail {
  background-color: #ccd5ae;
  border-radius: 20px;
  border: none;
}

.btn_detail:hover {
  background-color: #ccd5ae;
}

/*詳細ページここまで*/

/*カートページここから*/

.quantity select {
  width: 100px;
}

/*カートページここまで*/

/*サインアップページここから*/
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.gender {
  font-size: 14px;
}

/*サインアップページここまで*/

/*ログインページここから*/
.form-login,
.form-input {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

/*ログインページここまで*/

/*アドミンページここから*/
.sidebar {
  position: fixed;
  display: block;
  top: 66px;
  bottom: 0;
  left: 0;
}

.main {
  position: fixed;
  display: block;
  top: 64px;
  bottom: 0;
  padding-left: 20px;
  overflow-y: auto;
  /*  height: calc(100vh - 58px);*/
}

/*アドミンページここまで*/