<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="#{userDetail}"></title>
</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="w-75 mx-auto">

        <!-- メッセージが存在する場合にアラートを表示 -->
        <th:block th:if="${message}">
          <div class="alert alert-success alert-dismissible fade show d-flex align-items-center w-75 mx-auto mt-4"
            role="alert">
            <!-- アラートアイコン -->
            <svg xmlns="http://www.w3.org/2000/svg"
              class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 alert-icon" viewBox="0 0 16 16"
              role="img" aria-label="Warning:" style="width: 24px; height: 24px;">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <!-- メッセージ内容を表示 -->
            <div th:text="${message}"></div>
            <!-- アラートを閉じるボタン -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </th:block>

        <h2 class="text-center mt-40" th:text="#{userDetail}"></h2>
        <div class="mt-5 p-1">
          <div class="row">
            <p class="col-sm-9 fs-4 mb-0 p-1">ユーザーメールアドレス</p>
            <div class="col-sm-3"><a class="btn btn-outline-secondary"
                th:href="@{/account/addressUpdate}">メールアドレスの変更</a>
            </div>
          </div>
          <dl class="row mt-3">
            <dt class="col-sm-6 p-1">メールアドレス</dt>
            <dd class="col-sm-6 p-1" th:text="${user.eMail}"></dd>
          </dl>
        </div>
        <div class="border-top border-secondary-subtle p-1">
          <div class="row mt-4">
            <p class="col-sm-9 fs-4 mb-0 p-1">ユーザー情報詳細</p>
            <div class="col-sm-3">
              <a class="btn btn-outline-secondary" th:href="@{/account/detailUpdate}">ユーザー情報の変更</a>
            </div>
          </div>
          <dl class="row mt-3">
            <dt class="col-sm-6 p-1">名前</dt>
            <dd class="col-sm-6 p-1" th:text="${user.userName}"></dd>
            <dt class="col-sm-6 p-1">フリガナ</dt>
            <dd class="col-sm-6 p-1" th:text="${user.furigana}"></dd>
            <dt class="col-sm-6 p-1">郵便番号</dt>
            <dd class="col-sm-6 p-1" th:text="${user.postalCode}"></dd>
            <dt class="col-sm-6 p-1">都道府県</dt>
            <dd class="col-sm-6 p-1" th:text="${user.prefectures}"></dd>
            <dt class="col-sm-6 p-1">市区町村</dt>
            <dd class="col-sm-6 p-1" th:text="${user.city}"></dd>
            <dt class="col-sm-6 p-1">町名・番地</dt>
            <dd class="col-sm-6 p-1" th:text="${user.townName}"></dd>
            <dt class="col-sm-6 p-1">建物名・部屋番号</dt>
            <dd class="col-sm-6 p-1"
              th:text="${user.others == null || user.others.isEmpty() ? '未登録' : user.others}"></dd>
            <dt class="col-sm-6 p-1">電話番号</dt>
            <dd class="col-sm-6 p-1" th:text="${user.phoneNumber}"></dd>
            <dt class="col-sm-6 p-1">性別 </dt>
            <dd class="col-sm-6 p-1"
              th:text="${user.gender == 1 ? '男性' : (user.gender == 2 ? '女性' : 'その他')}"></dd>
            <dt class="col-sm-6 p-1">誕生日</dt>
            <dd class="col-sm-6 p-1" th:text="${#dates.format(user.birthday,'YYYY/MM/dd')}"></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</body>

</html>