<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="#{shippingAddressUpdate}"></title>
</head>

<body>
  <div layout:fragment="content">
    <div class="align-items-center py-4">
      <h2 class="text-center my-3" th:text="#{shippingAddressUpdate}"></h2>
      <form method="post" th:action="@{/account/shipping-address-update-confirm}" class="form-signup"
        th:object="${shippingAddressEditForm}">
        <!--郵便番号-->
        <div class="mb-3">
          <label for="postalCode" th:text="#{postalCode}" class="form-label fw-bold"></label>
          <input type="text" class="form-control" placeholder="例: 100-1001" th:field="*{postalCode}" th:errorclass="is-invalid" />
          <div class="invalid-feedback" th:errors="*{postalCode}"></div>
        </div>
        <!--都道府県-->
        <div class="mb-3">
          <label for="prefectures" th:text="#{prefectures}" class="form-label fw-bold"></label>
          <select class="form-control" th:field="*{prefectures}" th:errorclass="is-invalid">
            <option value="" selected>選択してください</option>
            <option th:each="item : ${prefecturesList}" th:text="${item}" th:value="${item}"
              id="prefectures" />
            </option>
          </select>
          <div class="invalid-feedback" th:errors="*{prefectures}"></div>
        </div>
        <!--市町村-->
        <div class="mb-3">
          <label for="city" th:text="#{city}" class="form-label fw-bold"></label>
          <input type="text" class="form-control" th:field="*{city}" th:errorclass="is-invalid" />
          <div class="invalid-feedback" th:errors="*{city}"></div>
        </div>
        <!--町名・番地-->
        <div class="mb-3">
          <label for="townName" th:text="#{townName}" class="form-label fw-bold"></label>
          <input type="text" class="form-control" th:field="*{townName}" th:errorclass="is-invalid" />
          <div class="invalid-feedback" th:errors="*{townName}"></div>
        </div>
        <!--建物名・部屋番号 -->
        <div class="mb-3">
          <label for="others" th:text="#{others}" class="form-label fw-bold"></label>
          <input type="text" class="form-control" th:field="*{others}" th:errorclass="is-invalid" />
          <div class="invalid-feedback" th:errors="*{others}"></div>
        </div>
        <!--チェック-->
        <div class="mb-3">
          <input type="checkbox" class="form-check-input" th:field="*{isEverytime}" />
          <label class="form-label fw-bold" for="isEverytime">いつもこの住所に届ける</label>
        </div>
        <div class="text-center">
          <button class="btn btn-primary mt-3 w-75" type="submit">変更する</button>
        </div>
      </form>

      <div class="text-center">
        <a th:href="@{/order/checkout}">決済画面に戻る</a>
      </div>

    </div>
  </div>
</body>

</html>