<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--CSS読み込み-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/user/style.css}">
  <link href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" rel="stylesheet">
  <!--JS読み込み-->
  <script th:src="@{/js/popper.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <title th:text="#{success}"></title>
</head>

<body>
  <div layout:fragment="content">
    <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
      <!-- 登録成功メッセージ -->
      <div th:if="${registered}">
        <h4>登録が正常に完了しました。</h4>
      </div>

      <!-- 更新成功メッセージ -->
      <div th:if="${updated}">
        <h4>更新が正常に完了しました。</h4>
      </div>

      <!-- 削除成功メッセージ -->
      <div th:if="${deleted}">
        <h4>削除が正常に完了しました。</h4>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-secondary p-3 mt-5 text-white" th:href="@{/}">トップページへ</a>
    </div>
  </div>
</body>

</html>